asyncpg
databases
dotenv
httpx==0.28.1
fastapi==0.110.0
openai
orjson
geoalchemy2==0.14.4
uvicorn[standard]==0.27.1
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
pgvector==0.2.5
pydantic==2.6.4
pydantic_settings==2.6.4
pdf2image
pdfplumber
python-multipart
PyMuPDF
pymupdf4llm
pytesseract
Pillow
tiktoken
transformers