asyncpg
databases
alembic
dotenv
httpx
fastapi
openai
geoalchemy2
uvicorn[standard]
sqlalchemy
psycopg2-binary
pgvector
pydantic
pydantic_settings
pdf2image
pdfplumber
python-multipart
PyMuPDF
pymupdf4llm
pytesseract
Pillow
tiktoken
transformers